.cart {
  margin-top: 50px;
}

.cart-items-container {
  overflow-y: auto; 
  height: 200px;
}

.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: grey;
  font-size: max(1vw, 12px);
}

.cart-item {
  margin: 10px 0px;
  color: black;
}

.cart-item img {
  width: 50px;
}

.cart hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.cart-item .cross {
  cursor: pointer;
}

section.cart-bottom {
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total hr {
  margin: 10px 0px;
}

.cart-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-total button:disabled {
  border: none;
  color: white;
  background-color: #e2e2e2;
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.cart-promo-code {
  flex: 1;
}

.cart-promo-code p {
  color: #555;
}

.cart-promo-code-input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
}

.cart-promo-code-input input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.cart-promo-code-input button {
  width: max(10vw,150px);
  padding: 12px 5px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 0 4px 4px 0;
}

.cart-promo-code-input button:disabled {
  width: max(10vw,150px);
  padding: 12px 5px;
  background-color: #8e8e8e;
  border: none;
  color: white;
  border-radius: 0 4px 4px 0;
}

@media (max-width: 750px) {
  main.cart {
    display: flex;
    flex-direction: column;
  }

  section.cart-bottom {
    flex-direction: column-reverse;
  }

  section.cart-bottom  .cart-total h2, .cart-promo-code  p {
    text-align: center;
  }

  .cart-promo-code {
    justify-content: start;
  }

  .cart-total button {
    width: 100%;
  }
}



